<div class="hidden-menu" id="hidden-menu-id">
    <ul style="list-style-type:none;" id="hidden-text">
        <li><a href="/fagutvalget">Fagutvalget</a></li>
        <li><a href="/kursevaluering">Kursevaluering</a></li>
        <li><a href="/representanter">Representanter</a></li>
        <li><a href="/bokskap">Bokskap</a></li>
        <li><a href="/referater">Referater</a></li>
        <li><a href="/vedtekter">Vedtekter</a></li>
        <li><a href="/kontakt">Kontakt oss</a></li>
        <li><a href="/varsling">Varsling i FUI</a></li>
    </ul>
</div>
