<div class="hidden-menu" id="hidden-menu-id" style="display:none">
    <ul style="list-style-type:none;" id="hidden-text">
        <li><a href="/fagutvalget" style="color:rgb(255,255,255)">Fagutvalget</a></li>
        <li><a href="/kursevaluering" style="color:rgb(255,255,255)">Kursevaluering</a></li>
        <li><a href="/representanter" style="color:rgb(255,255,255)">Studentrepresentanter</a></li>
        <li><a href="/bokskap" style="color:rgb(255,255,255)">Bokskap</a></li>
        <li><a href="/referater" style="color:rgb(255,255,255)">Referater</a></li>
        <li><a href="/vedtekter" style="color:rgb(255,255,255)">Vedtekter</a></li>
        <li><a href="/kontaktinformasjon" style="color:rgb(255,255,255)">Kontakt oss</a></li>
    </ul>
</div>
