<div class="hidden-menu" id="hidden-menu-id" style="display:none">
    <ul style="list-style-type:none;" id="hidden-text">
        <li><a href="/about" style="color:rgb(255,255,255)">Fagutvalget</a></li>
        <li><a href="/evaluation" style="color:rgb(255,255,255)">Kursevaluering</a></li>
        <li><a href="/representatives" style="color:rgb(255,255,255)">Studentrepresentanter</a></li>
        <li><a href="/locker" style="color:rgb(255,255,255)">Bokskap</a></li>
        <li><a href="/reports" style="color:rgb(255,255,255)">Referater</a></li>
        <li><a href="/statute" style="color:rgb(255,255,255)">Vedtekter</a></li>
        <li><a href="/contact" style="color:rgb(255,255,255)">Kontakt oss</a></li>
    </ul>
</div>