---
title: Referater
layout: page
title: Referater
permalink: /referater/
---

{% unless site.referater == empty %}
    <div class="row">
        <div class="medium-6 columns">
            {% assign sortedPosts = site.posts | sort: 'title' | reverse %}
            {% for post in sortedPosts limit:1 %}
                {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
                <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p>
                    {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
                </p>
            {% endfor %}
        </div>


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            <ul class="side-nav">
            {% for post in site.referater limit:include.entries offset:include.offset %}
              <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</strong></a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endunless %}
