<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      <script type="text/javascript">window.baseurl = '{{ site.url }}';</script>
      {% include css.html %}
  </head>

  <body class="home overflow-hidden">
  <div class="hidden-menu" id="hidden-menu-id" style="display:none">
    <ul style="list-style-type:none;" id="hidden-text">
      <li><a href="/about" style="color:rgb(255,255,255)">Fagutvalget</a></li>
      <li><a href="/evaluation" style="color:rgb(255,255,255)">Kursevaluering</a></li>
      <li><a href="/representatives" style="color:rgb(255,255,255)">Studentrepresentanter</a></li>
      <li><a href="/locker" style="color:rgb(255,255,255)">Bokskap</a></li>
      <li><a href="/reports" style="color:rgb(255,255,255)">Referater</a></li>
      <li><a href="/statute" style="color:rgb(255,255,255)">Vedtekter</a></li>
      <li><a href="/contact" style="color:rgb(255,255,255)">Kontakt oss</a></li>
    </ul>
  </div>
    {% include header.html %}
    {% include main.html %}
    {% include js.html %}
    {% include analytics.html %}
  </body>
</html>
